#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

header {
  padding: 25px 10px;
  position: sticky;
  top: 0;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

footer {
  display: flex;
  bottom: 0;
  position: sticky;
  z-index: 1000;
  background-color: lightgray;
  padding: 25px 10px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  color: #10b981;
}
h2 {
  color: #10b981;
}

.button-container {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  margin: 10px;
}

.button-container-meta {
  display: flex;
  gap: 10px;
}
/*Hier wird definiert wie die Karten angeordnet werden sollen*/
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}
