/* Globaler Sytle für die App */


/* Allgemein */
* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

/* Schriftart */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
}

/*Styling für die Überschrift*/
h1 {
    margin-top: 10px;
    font-size: 80px; /* Größe der Überschrift */
}